.main-container .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: var(--body-full-h);
    gap: var(--space-3);
    padding: var(--space-3);
}

.section .content {
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section .content .header {
    color: var(--color-white);
}

.section .content .title {
    font-weight: bold;
    font-size: 32px;
}

.section .content .sub-title {
    font-size: 16px;
}

.header-container {
    background-color: var(--color-black);
    background-image: url('../../../assets/images/bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.services-container {
    background-color: var(--color-black);
    background-image: url('../../../assets/images/bg_1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-container {
    background-color: var(--color-black);
    background-image: url('../../../assets/images/bg_2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.header-container .title {
    font-size: 32px;
    color: var(--color-white);
    font-weight: bold;
    line-height: 1.1;
}

.header-container .title div:nth-child(2) {
    background: #5B24FF;
    background: linear-gradient(to right, #5B24FF 0%, #BE10E0 61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-container .sub-title {
    max-width: 800px;
    font-size: 15px;
    color: var(--color-gray);
}

.header-container .intro-btns {
    flex-direction: column;
    gap: 15px;
}

.header-container .intro-btns button {
    color: var(--color-white);
}

.header-container .intro-btns button:nth-child(1) {
    background: var(--gradient-primary);
    color: var(--color-white);
    box-shadow: var(--shadow-glow);
}

.header-container .intro-btns button:nth-child(2) {
    background: var(--color-dark);
    color: var(--color-white);
    border: 1px solid var(--color-gray) !important;
}

.attributes-container {
    width: 80%;
    gap: 15px;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.attributes-container .attribute-box .title {
    font-size: 22px;
    line-height: 22px;
    color: var(--color-blue);
}

.attributes-container .attribute-box .sub-title {
    font-size: 15px;
}

.services-container .content {
    gap: 35px;
}

.services-container .cards-container {
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-container .contact-card {
    width: 100%;
    max-width: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--color-gray-1);
    height: 180px;
    background-color: var(--color-dark-1);
    color: var(--color-gray);
}

.contact-container .contact-card .icon-container {
    width: 50px;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 100%;
}

.contact-card .email {
    color: var(--color-blue);
}

@media screen and (min-width: 750px) {
    .main-container .header-container {
        gap: var(--space-4);
    }

    .header-container .content .title {
        font-size: 50px;
        line-height: 62px;
    }

    .header-container .sub-title {
        font-size: 23px;
    }

    .header-container .intro-btns {
        flex-direction: row;
        gap: 20px;
    }

    .header-container .intro-btns button {
        font-size: 18px;
        padding: var(--space-2) var(--space-3);
    }

    .main-container .services-container {
        flex-direction: row;
    }

    .services-container .cards-container {
        flex-direction: row;
    }

    .attributes-container .attribute-box {
        line-height: 0;
    }

    .attributes-container .attribute-box .title {
        font-size: 22px;
        line-height: 48px;
    }

    .attributes-container .attribute-box .sub-title {
        font-size: 15px;
    }
}

@media screen and (min-width: 1250px) {
    .main-container .services-container {
        gap: calc(var(--space-3) * 6);
    }
}