.main-container {
    align-items: start;
    max-width: 450px;
    color: var(--color-white);
    aspect-ratio: 2/1.4;
    border-radius: 10px;
    padding: var(--space-3);
    background-color: var(--color-dark-1);
    border: 1px solid var(--color-gray-1);
    gap: 15px;
}

.main-container .header-container {
    align-items: center;
    gap: 15px;
}

.header-container .title {
    font-weight: bold;
    font-size: 20px;
}

.header-container .icon-container {
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue);
    font-size: 25px;
    border-radius: 12px;
    width: 50px;
    aspect-ratio: 1/1;
}

.main-container .description-container {
    font-size: 16px;
    color: var(--color-gray);
    text-align: start;
}

.main-container .technologies-container {
    color: var(--color-gray);
    text-align: left;
}


.technologies-container ul li::marker {
    color: var(--color-blue);
}

@media screen and (min-width: 750px) {}